{
    "name": "{{ project_name }}",
    "version": "{{ project_version }}",
    "description": "{{ project_description }}",
    "private": {{ project_private | lower }},
    {% if with_entrypoint %}
    "main": "./dist/index.js",
    {% endif %}
    "scripts": {
        "build": "nest build -p tsconfig.json",
        "dev": "nest start -p tsconfig.json --watch",
        "start": "NODE_ENV=production node dist/src/index.js",
        "test": "jest"
    },
    "repository": {
        "type": "git",
        "url": "git+https://github.com/{{ vcs_github_path }}.git"
    },
    "keywords": [
        "{{ project_keywords.split(',')|join('",\n"') }}"
    ],
    "author": "{{ copyright_holder_name }} <{{ copyright_holder_email }}>",
    "license": "{{ copyright_license }}",
    "dependencies": {
        {% if with_mikro %}
        "@mikro-orm/core": "^5.4.2",
        "@mikro-orm/migrations": "^5.4.2",
        "@mikro-orm/nestjs": "^5.1.2",
        "@mikro-orm/reflection": "^5.4.2",
        "@mikro-orm/sql-highlighter": "^1.0.1",
        "@mikro-orm/sqlite": "^5.4.2",
        {% endif %}
        "@nestjs/core": "^9.1.4",
        "@nestjs/platform-express": "^9.1.4"
        {% if with_swagger %}
        ,"@nestjs/swagger": "^6.1.2"
        {% endif %}
    },
    "devDependencies": {
        "@nestjs/cli": "^9.1.4",
        "@nestjs/testing": "^9.1.4",
        "@types/chance": "^1.1.6",
        "@types/jest": "^29.5.14",
        "@types/node": "^22.13.1",
        "chance": "^1.1.12",
        "ts-jest": "^29.2.5",
        "ts-node": "^10.9.2",
        {% if with_entrypoint %}
        "ts-node-dev": "^2.0.0",
        {% endif %}
        "typescript": "^5.7.3"
    }
    {% if with_mikro %},
    "mikro-orm": {
        "useTsNode": true,
        "configPaths": [
            "./mikro-orm.config.ts",
            "./dist/mikro-orm.config.js"
        ]
    }
    {% endif %}
}
